footer {
  background-color: #333;
  color: #eee;
  padding: 1rem;
}

.footer-group {
  display: grid;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.footer-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.contact-links {
  color: #eee;
  text-decoration: none;
}

.footer-link {
  color: #eee;
  text-decoration: none;
  padding: 0.75rem;
}

.footer-link:hover, .contact-links:hover {
  color: #f4ce14;
  text-decoration: underline;
}

.footer-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.footer-socials h4 {
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

.logo-f {
  max-width: 150px;
  max-height: 200px;
}

.footer-copyright {
  text-align: center;
  margin: 3rem;
}

#copyright {
  font-style: italic;
}