@import url('https://googleapis.com');


h1, h2, h3 {
  font-family: 'Markazi Text', serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #edefee;
  padding: 1rem;
}

.navbar-left {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ddd;
  text-decoration: none;
}

.navbar-right {
  font-family: 'Karla', sans-serif;
}

.navbar-right ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-right ul {
  list-style-type: none;
}

.navbar-right li {
  margin-right: 1rem;
  text-align: center;
  color: #edefee;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 8px;
  font-size: 14px;
  box-sizing: border-box;
  position: relative;
}

.nav-link {
  color: #edefee;
  text-decoration: none;
}

.login-btn a {
  text-decoration: none;
  color: #333;
}

.login-btn {
  appearance: none;
  background-color: #f4ce14;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.login-btn:hover {
  background-color: #495e57;
  color: #edefee;
}

.login-btn:active {
  background-color: #6d8674;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.nav-link:hover {
  color: #f4ce14;
  text-decoration: underline;
}
