@import url('https://googleapis.com');

body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  background-color: #edefee;
  color: red;
}

h1, h2, h3, h4 {
  font-family: 'Markazi Text', serif;
}